 * {
 margin: 0;
 padding: 0;
 border: none;
 outline: none; 
 box-sizing: border-box;
 -webkit-user-select: none;
 -moz-user-select: none;    
 user-select: none;
 font-family: 'courier New', Courier, monospace;
 font-size: 900;
 font-size: 30px;
 color: white;
}

#cenario {
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-image: url(/image/espaco.gif);
    background-position: center;
    background-repeat: repeat;
    background-size: 30px;
    color: white
}

    @keyframes animarCenario {
        from {
            background-position-y: 100%;
        }
        to {
            background-position-y: 0%;
        }
    }